*
!*/

!ssh/*
!default/ssh
!default/locale
!scripts/backup.sh
!scripts/incron_config.sh
!scripts/cmdutil.lua
!scripts/dns_add_zone
!scripts/dns_add_record
!scripts/http_add_vhost
!sudoers
!apt/sources.list
!apt/apt.conf.d/50unattended-upgrades
!sshguard/*
!crontab
!ntp.conf
!bind/*
!network/*
!ethers
!hosts
!SSH exercises.txt
!profile
!apache2/**
!courier/**
!postfix/**
